table, th, td {
   border: 1px solid black;
}

th, td {
  padding: 15px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
}

.layout {
  display: grid;
  /*grid-auto-columns: min-content;*/
  justify-items: center;
  align-items: center;
}

.navigation {
  grid-row: 1;
  grid-column: 1;
}

.list {
  height: 100vh;
  overflow: scroll;
}

.details {
  width: 100%;
  grid-row: 1;
  grid-column: 2;
  margin: 0 auto;
  /*text-align: center;*/
  margin-top: 40px;
}

.no-underine {
  text-decoration: none;
}

.black {
  color: black;
}
