.layout {
  display: grid;
  /*grid-auto-columns: min-content;*/
  justify-items: center;
  align-items: center;
}

.navigation {
  grid-row: 1;
  grid-column: 1;
  height: 100vh;
  overflow: scroll;
}

.details {
  width: 100%;
  grid-row: 1;
  grid-column: 2;
  margin: 0 auto;
  /*text-align: center;*/
  margin-top: 40px;
}
