{{!-- TODO add a subroute for a chosen details component --}}
<div class="layout">
  <div class="navigation">
    <input type="text" onkeyup={{action (mut launchFilter) value="target.value"}}>
    {{#each filteredLaunches as |launch|}}
      {{#link-to 'launch' launch.flight_number class='no-underine black'}}
        {{launch-min-info
          name=launch.flight_number
          date=launch.launch_date_utc
        }}
      {{/link-to}}
      <br>
    {{/each}}
  </div>
  <div class="details">
    <div class="details-inner">
      {{outlet}}
    </div>
  </div>
</div>
{{!-- {{outlet}} --}}
